<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Edit Form</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<main role="main" class="container">

<form th:action="@{'/edit/' + ${tweetToEdit.getWpisId()}}" method="post" th:object="${tweetToEdit}">
    <input type="hidden" th:field="*{wpisDataWpisu}" th:value="*{wpisDataWpisu}">
    <input type="hidden" th:field="*{wpisId}" th:value="*{wpisId}">
    <table>
        <tr>
            <td>List: </td>
            <td>
                <input type="text" name="wpisWpis" th:field="*{wpisWpis}">
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" th:value="Change">
            </td>
        </tr>
    </table>
</form>

<hr>
<table>
    <tr th:each="checklist :${wpisyList}">
        <td th:text="${checklist.getWpis()}"></td>
        <td th:text="${checklist.getDataWpisu()}"></td>
    </tr>

</table>
<hr>
<form th:action="@{'/tweetTag/'}" method="post">
    <table>
        <input type="hidden" name="wpisId" th:value="${tweetToEdit.wpisId}">
        <tr>
            <td>Discription:</td>
            <td><input type="text" name="tagName"></td>
            <td>Milage:</td>
            <td><input type="number" name="tagMilage"></td>
            <td>Year:</td>
            <td><input type="number" name="tagMakeyear"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="Submit"></td>
        </tr>
    </table>
</form>
<table class="table">

    <thead>
    <tr>
        <th scope="col">Discription:</th>
        <th scope="col">Milage:</th>
        <th scope="col">After years:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${tweetToEdit.getTagSet()}">
        <td scope="row" th:text="${tag.getName()}"></td>
        <td scope="row" th:text="${tag.getMilage()}"></td>
        <td scope="row" th:text="${tag.getMakeyear()}"></td>
    </tr>
    </tbody>

</table>
</main>

<th:block th:include="template :: scripts_footer"/>
</body>
</html>